<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog :: Post</title>
</head>
<body>
<div class="container">
    <a th:href="@{'/'}">Home</a>
    <div class="post">
        <h2 th:text="${post.title}">Title</h2>
        <h5 th:text="'Written by ' + ${post.account.firstName}">Account First Name</h5>
        <h5 th:text="'Created on ' + ${post.createdAt}">Created At</h5>
        <p th:text="${post.body}">body text</p>
    </div>
</div>
</body>